<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://npm.elemecdn.com/element-ui/lib/theme-chalk/index.css">
    <script src="/api/teach-info2.js"></script>
    <script src="/api/college.js"></script>
    <script src="/api/stu-admin.js"></script>
</head>

<style>

    .table-expand {
        font-size: 0;
    }

    .table-expand label {
        width: 90px;
        color: #99a9bf;
    }

    .table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }

    .el-pagination {
        position: fixed;
        bottom: 20px;
    }

</style>

<body>
<div id="app">

    <el-button @click="handleBatchDelete()" type="danger" plain class="el-icon-delete">批量删除</el-button>
    <el-button @click="handleAdd()" type="primary" plain class="el-icon-plus">新增提交</el-button>
    <el-button type="primary" @click="updateSecure" class="el-icon-edit">修改账户</el-button>

    <el-table :data="dataList" stripe style="width: 100%" highlight-current-row
              :default-sort="{prop:'createTime',order:'descending'}" @selection-change="handleSelectionChange">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" class="table-expand">
                    <el-form-item label="好的方面">
                        <span>{{ props.row.feedbackGood }}</span>
                    </el-form-item>
                    <el-form-item label="不足之处">
                        <span>{{ props.row.feedbackNotEnough }}</span>
                    </el-form-item>
                    <el-form-item label="希望和建议">
                        <span>{{ props.row.hopesAndSuggestions }}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>

        <el-table-column type="selection"></el-table-column>
        <el-table-column type="index" label="序号" align="center"></el-table-column>
        <el-table-column prop="submitPerson" label="提交人" align="center" sortable></el-table-column>
        <el-table-column prop="submitPersonCollege" label="提交人学院" align="center" sortable></el-table-column>
        <el-table-column prop="submitPersonClass" label="提交人班级" align="center" sortable></el-table-column>

        <el-table-column prop="createTime" label="提交时间" align="center" sortable width="180px"></el-table-column>
        <el-table-column prop="updateTime" label="修改时间" align="center" sortable width="180px"></el-table-column>

        <el-table-column label="操作" align="center" fixed="right">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEdit(scope.row)" class="el-icon-edit">修改</el-button>
                <el-button type="danger" @click="handleDelete(scope.row)" class="el-icon-delete">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="提交信息员组长反馈信息" :visible.sync="dialogFormAddVisible" center width="40%" top="10vh">
        <el-form ref="formData" :model="formData" :rules="rules" label-position="right"
                 label-width="100px">
            <el-form-item label="信息反馈(好的方面)" prop="feedbackGood">
                <el-input v-model="formData.feedbackGood"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="信息反馈(不足之处)" prop="feedbackNotEnough">
                <el-input v-model="formData.feedbackNotEnough"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="希望和建议" prop="hopesAndSuggestions">
                <el-input v-model="formData.hopesAndSuggestions"
                          placeholder="填写希望和建议"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormAddVisible = false">取消</el-button>
            <el-button type="primary" @click="handleAddSubmit()">完成</el-button>
        </div>
    </el-dialog>

    <el-dialog title="修改信息员组长反馈信息" :visible.sync="dialogFormEditVisible" center width="40%" top="10vh">
        <el-form ref="formData" :model="formData" :rules="rules" label-position="right"
                 label-width="100px">
            <el-form-item label="信息反馈(好的方面)" prop="feedbackGood">
                <el-input v-model="formData.feedbackGood"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="信息反馈(不足之处)" prop="feedbackNotEnough">
                <el-input v-model="formData.feedbackNotEnough"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="希望和建议" prop="hopesAndSuggestions">
                <el-input v-model="formData.hopesAndSuggestions"
                          placeholder="填写希望和建议"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormEditVisible = false">取消</el-button>
            <el-button type="primary" @click="handleUpdateSubmit()">完成</el-button>
        </div>
    </el-dialog>

    <el-dialog title="修改账户密码" :visible.sync="dialogVisible"
               center width="40%" top="10vh">
        <el-form :model="secureData" label-position="right"
                 label-width="100px" ref="secureData" :rules="rules">
            <el-form-item prop="password" prop="password">
                <el-input v-model="old"
                          placeholder="请输入旧密码"
                          clearable maxlength="30" show-password>
                </el-input>
            </el-form-item>

            <el-form-item prop="password" prop="password">
                <el-input v-model="secureData.password"
                          placeholder="请输入新密码"
                          clearable maxlength="30" show-password>
                </el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="handleUpdateSecure()">完成</el-button>
        </div>
    </el-dialog>

</div>

<!-- 引入组件库 -->
<script src="https://npm.elemecdn.com/vue@2/dist/vue.js"></script>
<script src="https://npm.elemecdn.com/element-ui/lib/index.js"></script>
<script src="https://npm.elemecdn.com/axios@1.3/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            dataList: [],
            multipleSelection: [],
            selectedIdList: [],
            loginUser: {},
            dialogFormAddVisible: false,
            dialogFormEditVisible: false,
            dialogVisible: false,
            secureData: {
                username: '',
                password: ''
            },
            old: '',
            formData: {
                submitPerson: '',
                submitPersonName: '',
                submitPersonCollege: '',
                submitPersonClass: ''
            },
            rules: {//校验规则
                feedbackGood: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                feedbackNotEnough: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                hopesAndSuggestions: [
                    {required: true, message: '希望和建议未填写', trigger: 'blur'}
                ],

                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'},
                    {min: 5, max: 30, message: '用户密码长度必须介于5-30之间'}
                ],

            }
        },
        created() {
            const loginUser = window.localStorage.getItem('loginUser')
            if (loginUser) {
                this.loginUser = JSON.parse(loginUser);
            }
            this.formData.submitPerson = this.loginUser.username;
            this.formData.submitPersonName = this.loginUser.name;
            this.formData.submitPersonCollege = this.loginUser.college;
            this.formData.submitPersonClass = this.loginUser.className;

            this.secureData.username = this.loginUser.username;//用户名验证旧密码

        },
        mounted() {
            this.handleQuery()
        },
        methods: {
            // 处理添加操作,弹出对话框
            handleAdd() {
                this.dialogFormAddVisible = true
                this.formData = {}
                this.formData.submitPerson = this.loginUser.username;
                this.formData.submitPersonName = this.loginUser.name;
                this.formData.submitPersonCollege = this.loginUser.college;
                this.formData.submitPersonClass = this.loginUser.className;
            },
            //添加提交
            handleAddSubmit() {
                this.$refs.formData.validate((valid) => {
                    if (valid) {
                        addTeachInfo2(this.formData).then((res) => {
                            if (res.data.code === 20011) {
                                this.dialogFormAddVisible = false
                                this.handleQuery()
                                this.$message.success(res.data.msg)
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }).catch((e) => {
                            this.$message({
                                message: ('接口请求异常 ' + e),
                                type: 'error',
                                center: true
                            })
                        })
                    }
                })
            },
            //编辑提交
            handleEdit(row) {
                //根据id查询数据,将之前数据显示
                this.dialogFormEditVisible = true
                getTeachInfo2(row.id).then((res) => {
                    if (res.data.code === 20040 && res.data.data != null) {
                        this.formData = res.data.data
                    }
                })
            },

            //修改提交
            handleUpdateSubmit() {
                this.$refs.formData.validate((valid) => {
                    if (valid) {
                        updateTeachInfo2(this.formData).then((res) => {
                            if (res.data.code === 20031) {
                                this.dialogFormEditVisible = false
                                this.$message.success(res.data.msg)
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }).catch((e) => {
                            this.$message.error('接口请求异常' + e)
                        }).finally(() => {
                            this.handleQuery()
                        })
                    }

                })
            },
            //查询
            handleQuery() {
                listTeachInfo2(this.formData.submitPerson, this.currentPage, this.pageSize)
                    .then((res) => {
                        if (res.data.code === 20040) {
                            this.dataList = res.data.data;
                            setTimeout(() => {
                                this.$message.success('加载完成')
                            }, 1500)
                        } else {
                            this.$message.error(res.data.msg)
                        }
                    }).catch((e) => {
                    this.$message.error('接口请求异常' + e)
                })
            },
            // 处理删除操作
            handleDelete(row) {
                this.$confirm('此操作将永久删除当前数据,是否继续？', '提示', {
                    type: 'warning'
                }).then(() => {
                    removeTeachInfo2(row.id).then((res) => {
                        if (res.data.code === 20021) {
                            this.$message.success(res.data.msg)
                        }
                    }).finally(() => {
                        this.handleQuery()
                    });
                }).catch((e) => {
                    this.$message('操作 ' + e)
                })
            },
            //弹出窗口
            updateSecure() {
                this.dialogVisible = true
                this.secureData.password = ''
                this.old = ''

            },
            //提交修改
            handleUpdateSecure() {
                console.log(this.secureData)
                this.$refs.secureData.validate((valid) => {
                    if (valid) {
                        updateUserSecure(this.old, this.secureData).then((res) => {
                            if (res.data.code === 20031) {
                                this.dialogVisible = false
                                this.$message.success(res.data.msg)
                                // this.$message('当前用户信息已失效，即将登出')
                                // setTimeout(() => {
                                //     window.location.href = '/login/index.html'
                                // }, 1500)
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }).catch((e) => {
                            this.$message({
                                message: ('接口请求异常 ' + e),
                            })
                        })
                    }
                })
            },
            //处理复选框选中的数据,提取id
            handleSelectionChange(val) {
                this.multipleSelection = val;
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    let element = this.multipleSelection[i];
                    this.selectedIdList[i] = element.id;
                }
            },
            //批量删除
            handleBatchDelete() {
                if (this.selectedIdList.length === 0) {
                    this.$message('至少选择一条数据再进行操作')
                } else {
                    this.$confirm('此操作将永久删除所选数据,是否继续?', '提示', {
                        type: 'warning',
                    }).then(() => {
                        removeBatchTeachInfo2(this.selectedIdList).then((res) => {
                            if (res.data.code === 20021) {
                                this.$message.success(res.data.msg)
                            }
                        }).finally(() => {
                            this.handleQuery()
                        })
                    }).catch((e) => {
                        this.$message('操作 ' + e)
                    })
                }

            }
        }
    });
</script>
</body>

</html>
