<!DOCTYPE html>
<html lang="en">
<head>
    <title>教学信息反馈</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://npm.elemecdn.com/element-ui/lib/theme-chalk/index.css">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>

    <script src="/api/teach-info.js"></script>
    <link rel="stylesheet" href="./style/index.css">

    <style>
        .el-date-editor.el-input,
        .el-date-editor.el-input__inner {
            width: 50vw;
        }

        h1 {
            font-size: 30px;
            font-family: 微软雅黑, system-ui;
        }

    </style>
</head>

<body>
<div id="app">
    <el-main>
        <el-card>
            <h1>教学信息反馈填写</h1>
            <br>
            <el-form :model="teachInfoFormData" :rules="rules" label-width="100px"
                     ref="teachInfoFormData" size="small">

                <el-form-item label="课程名称" prop="courseName">
                    <el-input v-model.trim="teachInfoFormData.courseName"
                              placeholder="填写课程名称">
                    </el-input>
                </el-form-item>

                <el-form-item label="教师姓名" prop="teacherName">
                    <el-input v-model.trim="teachInfoFormData.teacherName"
                              placeholder="填写教师姓名"
                              show-input>
                    </el-input>
                </el-form-item>

                <el-form-item label="应到人数" prop="shouldArriveNum">
                    <el-input-number v-model.number="teachInfoFormData.shouldArriveNum" type="number"
                                     :min=1 :max=70>
                    </el-input-number>
                </el-form-item>

                <el-form-item label="实到人数" prop="actualArriveNum">
                    <el-input-number v-model.number="teachInfoFormData.actualArriveNum" type="number"
                                     :min=1 :max=teachInfoFormData.shouldArriveNum>
                    </el-input-number>
                </el-form-item>

                <el-form-item label="上课日期" prop="recordClassDate">
                    <el-date-picker v-model="teachInfoFormData.recordClassDate"
                                    type="date" placeholder="选择上课日期">
                    </el-date-picker>
                </el-form-item>

                <el-form-item label="上课节次" prop="recordCourseNum">
                    <el-select v-model="teachInfoFormData.recordCourseNum" placeholder="选择上课节次">
                        <el-option v-for="item in options"
                                   :key="item.value"
                                   :label="item.value"
                                   :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="上课地点" prop="classLocation">
                    <el-input v-model.trim="teachInfoFormData.classLocation"
                              placeholder="填写上课地点"
                              show-input>
                    </el-input>
                </el-form-item>

                <el-form-item label="信息反馈(好的方面)" prop="feedbackGood">
                    <el-input v-model.trim="teachInfoFormData.feedbackGood"
                              placeholder="填写信息反馈"
                              type="textarea"
                              :autosize="{ minRows: 3, maxRows: 5}"
                              maxlength="200"
                              show-word-limit>
                    </el-input>
                </el-form-item>

                <el-form-item label="信息反馈(不足之处)" prop="feedbackNotEnough">
                    <el-input v-model.trim="teachInfoFormData.feedbackNotEnough"
                              placeholder="填写信息反馈"
                              type="textarea"
                              :autosize="{ minRows: 3, maxRows: 5}"
                              maxlength="200"
                              show-word-limit>
                    </el-input>
                </el-form-item>

                <el-form-item label="希望和建议" prop="hopesAndSuggestions">
                    <el-input v-model.trim="teachInfoFormData.hopesAndSuggestions"
                              placeholder="填写希望和建议"
                              type="textarea"
                              :autosize="{ minRows: 3, maxRows: 5}"
                              maxlength="200"
                              show-word-limit>
                    </el-input>
                </el-form-item>


                <el-form-item center>
                    <el-button @click="cleanForm" class="el-icon-close">重置</el-button>
                    <el-button type="primary" @click="handleSubmit" class="el-icon-check">提交</el-button>
                </el-form-item>
            </el-form>
        </el-card>

    </el-main>

</div>
</body>

<script src="https://npm.elemecdn.com/vue@2/dist/vue.min.js"></script>
<script src="https://npm.elemecdn.com/element-ui/lib/index.js"></script>
<script src="https://npm.elemecdn.com/axios@1.3/dist/axios.min.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            //下拉菜单-上课节次
            options: [{
                value: '一、二节',
            }, {
                value: '三、四节',
            }, {
                value: '五、六节',
            }, {
                value: '七、八节',
            }, {
                value: '九、十节',
            }],
            loginUser: {},
            // loginUser: JSON.parse(localStorage.getItem('loginUser')),
            teachInfoFormData: {
                shouldArriveNum: 0,
                submitPerson: '',
                submitPersonCollege: '',
                submitPersonClass: '',
                submitPersonName: ''
            },
            rules: {//校验规则
                courseName: [
                    {required: true, message: '课程名未填写', trigger: 'blur'},
                ],
                teacherName: [
                    {required: true, message: '教师姓名未填写', trigger: 'blur'}
                ],
                shouldArriveNum: [
                    {required: true, message: '应到人数未填写', trigger: 'blur'},
                    {type: "number", min: 1, max: 70, message: '应到人数应该至少大于零', trigger: 'change'}
                ],
                actualArriveNum: [
                    {required: true, message: '实到人数未填写', trigger: 'blur'},
                    {type: "number", min: 1, max: 70, message: '实到人数应该至少大于零', trigger: 'change'}
                ],
                classLocation: [
                    {required: true, message: '上课地点未填写', trigger: 'blur'}
                ],
                recordClassDate: [
                    {required: true, message: '上课日期未填写', trigger: 'blur'}
                ],
                recordCourseNum: [
                    {required: true, message: '上课节次未填写', trigger: 'blur'}
                ],
                feedbackGood: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                feedbackNotEnough: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                hopesAndSuggestions: [
                    {required: true, message: '希望和建议未填写', trigger: 'blur'}
                ]

            }
        },
        created() {
            const loginUser = window.localStorage.getItem('loginUser')
            if (loginUser) {
                this.loginUser = JSON.parse(loginUser);
            }
            this.teachInfoFormData.submitPerson = this.loginUser.username;
            this.teachInfoFormData.submitPersonCollege = this.loginUser.college;
            this.teachInfoFormData.submitPersonClass = this.loginUser.className;
            this.teachInfoFormData.submitPersonName = this.loginUser.name;
        },
        methods: {
            cleanForm() {
                this.teachInfoFormData = {
                    shouldArriveNum: 0,
                }
            },
            handleSubmit() {
                this.$refs.teachInfoFormData.validate((valid) => {
                    if (valid) {
                        // axios.post("/feedback/stu/add", this.teachInfoFormData)
                        addTeachInfo(this.teachInfoFormData)
                            .then((response) => {
                                    if (response.data.code === 20011) {
                                        this.$message.success(response.data.msg)
                                        setTimeout(() => {
                                            window.location.href = "./list.html";
                                        }, 1500);
                                    } else {
                                        this.$message({
                                            message: (response.data.msg),
                                            type: 'error',
                                            center: true
                                        })
                                    }
                                }
                            ).catch((e) => {
                            this.$message({
                                message: ("接口请求异常  " + e),
                                type: 'error',
                                center: true
                            })
                        });
                    }
                })
            },
        }
    })
</script>

</html>