<!DOCTYPE html>
<html lang="en">
<head>
    <title>教学信息反馈查看</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://npm.elemecdn.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./style/list.css">

    <link rel="icon" href="../favicon.ico">
    <style>
        .el-message-box {
            width: 50vw;
        }

        .el-input-number {
            width: 100%;
        }

        .el-select, .el-input {
            width: 100%;
        }

        .el-date-editor.el-input, .el-date-editor.el-input__inner {
            width: 100%;
        }

    </style>
</head>
<body>
<div id="app">
    <h1>教学信息反馈提交记录</h1>
    <el-button @click="handleBatchDelete()" type="danger" plain class="el-icon-delete">批量删除</el-button>
    <el-table :data="dataList" stripe style="width: 100%" highlight-current-row
              :default-sort="{prop:'createTime',order:'descending'}"
              @selection-change="handleSelectionChange" :scroll="{ y: 'bottom' }">
        <el-table-column type="expand">
            <template slot-scope="props">
                <el-form label-position="left" class="table-expand">
                    <el-form-item label="好的方面">
                        <span>{{ props.row.feedbackGood }}</span>
                    </el-form-item>
                    <el-form-item label="不足之处">
                        <span>{{ props.row.feedbackNotEnough }}</span>
                    </el-form-item>
                    <el-form-item label="希望和建议">
                        <span>{{ props.row.hopesAndSuggestions }}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>

        <el-table-column type="selection"></el-table-column>
        <el-table-column type="index" label="序号" align="center" fixed="left"></el-table-column>

        <el-table-column prop="courseName" label="课程名称" align="center" sortable></el-table-column>
        <el-table-column prop="teacherName" label="教师姓名" align="center" sortable></el-table-column>
        <el-table-column prop="shouldArriveNum" label="应到人数" align="center" width="60" sortable></el-table-column>
        <el-table-column prop="actualArriveNum" label="实到人数" align="center" width="60" sortable></el-table-column>

        <el-table-column label="记录时间" align="center">
            <el-table-column prop="classLocation" label="上课地点" align="center" sortable></el-table-column>
            <el-table-column prop="recordClassDate" label="上课日期" align="center" sortable></el-table-column>
        </el-table-column>

        <el-table-column prop="recordCourseNum" label="上课节次" align="center" sortable></el-table-column>
        <el-table-column prop="createTime" label="提交时间" align="center" sortable width="180px"></el-table-column>
        <el-table-column prop="updateTime" label="修改时间" align="center" sortable width="180px"></el-table-column>

        <el-table-column label="操作" align="center">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEdit(scope.row)" class="el-icon-edit">修改</el-button>
                <el-button type="danger" @click="handleDelete(scope.row)" class="el-icon-delete">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="修改提交" :visible.sync="dialogFormEditVisible" center width="35%" top="10vh">
        <el-form :model="teachInfoFormData" :rules="rules" label-width="100px"
                 ref="teachInfoFormData" size="small">

            <el-form-item label="课程名称" prop="courseName">
                <el-input v-model="teachInfoFormData.courseName"
                          placeholder="填写课程名称">
                </el-input>
            </el-form-item>

            <el-form-item label="教师姓名" prop="teacherName">
                <el-input v-model="teachInfoFormData.teacherName"
                          placeholder="填写教师姓名"
                          show-input>
                </el-input>
            </el-form-item>

            <el-form-item label="应到人数" prop="shouldArriveNum">
                <el-input-number v-model="teachInfoFormData.shouldArriveNum"
                                 :min=1 :max=70>
                </el-input-number>
            </el-form-item>

            <el-form-item label="实到人数" prop="actualArriveNum">
                <el-input-number v-model="teachInfoFormData.actualArriveNum"
                                 :min=1 :max=teachInfoFormData.shouldArriveNum>
                </el-input-number>
            </el-form-item>

            <el-form-item label="上课日期" prop="recordClassDate">
                <el-date-picker v-model="teachInfoFormData.recordClassDate"
                                type="date" placeholder="选择上课日期">
                </el-date-picker>
            </el-form-item>

            <el-form-item label="上课节次" prop="recordCourseNum">
                <el-select v-model="teachInfoFormData.recordCourseNum" placeholder="选择上课节次">
                    <el-option v-for="item in options"
                               :key="item"
                               :label="item"
                               :value="item">
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="上课地点" prop="classLocation">
                <el-input v-model="teachInfoFormData.classLocation"
                          placeholder="填写上课地点"
                          show-input>
                </el-input>
            </el-form-item>

            <el-form-item label="信息反馈(好的方面)" prop="feedbackGood">
                <el-input v-model="teachInfoFormData.feedbackGood"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="信息反馈(不足之处)" prop="feedbackNotEnough">
                <el-input v-model="teachInfoFormData.feedbackNotEnough"
                          placeholder="填写信息反馈"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>

            <el-form-item label="希望和建议" prop="hopesAndSuggestions">
                <el-input v-model="teachInfoFormData.hopesAndSuggestions"
                          placeholder="填写希望和建议"
                          type="textarea"
                          :autosize="{ minRows: 3, maxRows: 5}"
                          maxlength="200"
                          show-word-limit>
                </el-input>
            </el-form-item>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormEditVisible = false">取消</el-button>
            <el-button type="primary" @click="handleUpdateSubmit()">完成</el-button>
        </div>
    </el-dialog>
</div>
</body>

<script src="https://npm.elemecdn.com/vue@2/dist/vue.min.js"></script>
<script src="https://npm.elemecdn.com/element-ui/lib/index.js"></script>
<script src="https://npm.elemecdn.com/axios@1.3/dist/axios.min.js"></script>
<script src="/api/teach-info.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            username: null,
            dataList: [],//当前页要展示的列表数据
            teachInfoFormData: {},
            dialogFormEditVisible: false,
            options: ['一、二节', '三、四节', '五、六节', '七、八节', '九、十节'],
            multipleSelection: [],//多选框
            selectedIdList: [],//选中数据的id数组
            rules: {//校验规则
                courseName: [
                    {required: true, message: '课程名未填写', trigger: 'blur'},
                ],
                teacherName: [
                    {required: true, message: '教师姓名未填写', trigger: 'blur'}
                ],
                shouldArriveNum: [
                    {required: true, message: '应到人数未填写', trigger: 'blur'},
                    {type: "number", min: 1, max: 70, message: '应到人数应该至少大于零', trigger: 'change'}
                ],
                actualArriveNum: [
                    {required: true, message: '实到人数未填写', trigger: 'blur'},
                    {type: "number", min: 1, max: 70, message: '实到人数应该至少大于零', trigger: 'change'}
                ],
                classLocation: [
                    {required: true, message: '上课地点未填写', trigger: 'blur'}
                ],
                recordClassDate: [
                    {required: true, message: '上课日期未填写', trigger: 'blur'}
                ],
                recordCourseNum: [
                    {required: true, message: '上课节次未填写', trigger: 'blur'}
                ],
                feedbackGood: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                feedbackNotEnough: [
                    {required: true, message: '信息反馈未填写', trigger: 'blur'}
                ],
                hopesAndSuggestions: [
                    {required: true, message: '希望和建议未填写', trigger: 'blur'}
                ]

            }
        },
        created() {
            this.username = JSON.parse(localStorage.getItem('loginUser')).username;
            this.handleQuery();
        },
        methods: {
            cleanForm() {
                this.teachInfoFormData = {
                    shouldArriveNum: 0,
                }
            },
            // 处理编辑操作,弹出编辑窗口
            handleEdit(row) {
                //根据id查询数据,将之前数据显示
                this.dialogFormEditVisible = true
                getTeachInfo(row.id).then((res) => {
                    if (res.data.code === 20040 && res.data.data != null) {
                        this.teachInfoFormData = res.data.data
                    } else {
                        this.$message.error(res.data.msg)
                    }
                })
            },
            //修改提交
            handleUpdateSubmit() {
                this.$refs.teachInfoFormData.validate((valid) => {
                    if (valid) {
                        updateTeachInfo(this.teachInfoFormData).then((res) => {
                            if (res.data.code === 20031) {
                                this.dialogFormEditVisible = false
                                this.$message.success(res.data.msg)
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }).catch((e) => {
                            this.$message({
                                message: ('接口请求异常 ' + e),
                                type: 'error',
                                center: true
                            })
                        }).finally(() => {
                            this.handleQuery()
                        })
                    }

                })

            },
            handleDelete(row) {
                this.$confirm("此操作将永久删除当前数据，是否继续？", "提示", {
                    type: 'warning',
                }).then(() => {
                    removeTeachInfo(row.id).then((response) => {
                        if (response.data.code === 20021) {
                            this.$message.success(response.data.msg);
                        } else {
                            this.$message({
                                message: (response.data.msg),
                                type: 'error',
                                center: true
                            })
                        }
                    }).finally(() => {
                        this.handleQuery();
                    });
                }).catch((e) => {
                    this.$message('操作异常' + e)
                })
            },
            //处理复选框选中的数据,提取id
            handleSelectionChange(val) {
                this.multipleSelection = val;
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    let element = this.multipleSelection[i];
                    this.selectedIdList[i] = element.id;
                }
            },
            handleBatchDelete() {
                if (this.selectedIdList.length === 0) {
                    this.$message('至少选择一条数据再进行操作')
                } else {
                    this.$confirm('此操作将永久删除所选数据,是否继续?', '提示', {
                        type: 'warning',
                    }).then(() => {
                        removeBatchTeachInfo(this.selectedIdList).then((res) => {
                            if (res.data.code === 20021) {
                                this.$message.success(res.data.msg)
                            } else {
                                this.$message.error(res.data.msg)
                            }
                        }).finally(() => {
                            this.handleQuery()
                        })
                    }).catch((e) => {
                        this.$message('操作异常' + e)
                    })
                }

            },

            handleQuery() {
                listTeachInfo(this.username).then((response) => {
                    if (response.data.code === 20040) {
                        this.dataList = response.data.data;
                    } else {
                        this.$message.error(response.data.msg)
                    }
                }).catch((e) => {
                    this.$message({
                        message: ("接口请求异常  " + e),
                        type: 'error',
                        center: true
                    })
                });
            },
        }
    });
</script>
</html>